*{
   margin: 0;
   padding: 0;
   font-family: 'poppins',sans-serif; 
   box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9,
     #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8,
      #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.to-do{
    width: 100%;
    max-width: 540px;
    background: #ffff;
    margin: 100px auto 200px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do h2{
color: #002765;
display: flex;
align-items: center;
margin-bottom: 20px;
}
i{ margin-left: 20px;
}
.searchbox{
display: flex;
align-items: center;
padding-left: 20px;
border-radius: 30px;
justify-content: space-evenly;
background: #edeef0;
margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(check.jpg.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    font-size: 22px;
    text-align:center;
    line-height: 40px;
    color: #555;
    border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;
}